@{
    ViewBag.Title = "Index";
}

@section Header {
    <link rel="stylesheet" type="text/css" href="/Content/css/views/planogram/edit.css" />
}

@section Scripts
{
    <script type='text/javascript'>
        var STORE_ID = '@ViewBag.StoreId';
        Bootstrap.load([
            "@@/Content/js/views/planogram/edit.js"
        ]);
    </script>
}
<script type='text/template' id='browse-display-template'>
    <div id="remove-display" class="icon clickable my-icons-remove pull-right" style="display:none"></div>
    <div class="icon my-icons-browse"></div>
    <p><%- Name %></p>
        <ul class="assignedPlaylists">
        <% _.each(assignedPlaylists, function(playlist) { %>
            <li id=<%- playlist.Id %> class="assigned-playlist">
            <div class="pull-left"><%- playlist.DisplayName %></div>
            <div class="remove icon clickable my-icons-remove pull-left" style="display:none"></div>
            <div class="clearing"></div>
            </li><% }); %>
        </ul>

</script>

<div class="row">
    <div id="sidebar" class="span3" style="width: 255px">
        <ul id="tabs" class="nav nav-tabs">
            <li class="active"><a href="#displayContainer">Displays</a></li>
            <li><a href="#playlistContainer">Playlists</a></li>
        </ul>
        <div class="tab-content" style="overflow: visible">
            <div class="tab-pane active" id="displayContainer">
            </div>
            <div class="tab-pane" id="playlistContainer"></div>
        </div>
        </div>
    <div id="blueprint" class="span9">
        
    </div>
</div>
<script type='text/template' id='adplay-display-template'>
    <div id="remove-display" class="icon clickable my-icons-remove pull-right" style="display:none"></div>
    <div class="icon my-icons-adplay"></div>
    <p><%- Name %></p>
  
        <ul class="assignedPlaylists">
        <% _.each(assignedPlaylists, function(playlist) { %>
            <li id=<%- playlist.Id %> class="assigned-playlist">
            <div class="pull-left"><%- playlist.DisplayName %></div>
            <div class="remove icon clickable my-icons-remove pull-left" style="display:none"></div>
            <div class="clearing"></div>            
            </li><% }); %>
        </ul>
  

</script>
<script type='text/template' id='stream-display-template'>
    <div id="remove-display" class="icon clickable my-icons-remove pull-right" style="display:none"></div>
    <div class="icon my-icons-stream"></div>
    <p><%- Name %></p>
        <ul class="assignedPlaylists">
            <% _.each(assignedPlaylists, function(playlist) { %>
                <li id=<%- playlist.Id %> class="assigned-playlist">
                <li id=<%- playlist.Id %> class="assigned-playlist">
                <div class="pull-left"><%- playlist.DisplayName %></div>
                <div class="remove icon clickable my-icons-remove pull-left" style="display:none"></div>
                <div class="clearing"></div>    
            </li><% }); %>
        </ul>

</script>

<script type='text/template' id='browse-playlist-template'>
    <div class="icon my-icons-browse"></div>
    <p><%- DisplayName %></p>

</script>
<script type='text/template' id='adplay-playlist-template'>
    <div class="icon my-icons-adplay"></div>
    <p><%- DisplayName %></p>

</script>
<script type='text/template' id='stream-playlist-template'>
    <div class="icon my-icons-stream"></div>
    <p><%- DisplayName %></p>

</script>