@{
    ViewBag.Title = "Index";
}

@section Header {
    <link rel="stylesheet" type="text/css" href="/Content/css/views/planogram/edit.css" />
}

@section Scripts
{
    <script type='text/javascript'>
        var STORE_ID = '@ViewBag.StoreId';
        Bootstrap.load([
            "@@/Content/js/views/planogram/edit.js"
        ]);
    </script>
}
<script type='text/template' id='browse-display-template'>
    <td class="type-column"><div class="icon my-icons-browse"></div></td>
    <td class="name-column">
        <p><%- Name %></p>
        <ul class="assignedPlaylists">
        <% _.each(assignedPlaylists, function(playlist) { %>
            <li id=<%- playlist.Id %> class="assigned-playlist">
            <div class="pull-left"><%- playlist.DisplayName %></div>
            <div class="clearing"></div>
            </li><% }); %>
        </ul>
    </td>
</script>
<script type='text/template' id='adplay-display-template'>
    <td class="type-column"><div class="icon my-icons-adplay"></div></td>
    <td class="name-column">
        <p><%- Name %></p>
        <ul class="assignedPlaylists">
        <% _.each(assignedPlaylists, function(playlist) { %>
            <li id=<%- playlist.Id %> class="assigned-playlist">
            <div class="pull-left"><%- playlist.DisplayName %></div>
            <div class="clearing"></div>
            </li><% }); %>
        </ul>
    </td>
</script>
<script type='text/template' id='stream-display-template'>
    <td class="type-column"><div class="icon my-icons-stream"></div></td>
    <td class="name-column">
        <p><%- Name %></p>
        <ul class="assignedPlaylists">
            <% _.each(assignedPlaylists, function(playlist) { %>
                <li id=<%- playlist.Id %> class="assigned-playlist">
                <li id=<%- playlist.Id %> class="assigned-playlist">
                <div class="pull-left"><%- playlist.DisplayName %></div>
                <div class="clearing"></div>
            </li><% }); %>
        </ul>
    </td>
</script>

<script type='text/template' id='browse-placed-display-template'>
    <div id="remove-display" class="icon clickable my-icons-remove pull-right"></div>
    <div class="icon my-icons-browse"></div>
    <p><%- Name %></p>
        <ul class="assignedPlaylists">
        <% _.each(assignedPlaylists, function(playlist) { %>
            <li id=<%- playlist.Id %> class="assigned-playlist">
            <div class="pull-left"><%- playlist.DisplayName %></div>
            <div class="remove icon clickable my-icons-remove pull-left"></div>
            <div class="clearing"></div>
            </li><% }); %>
        </ul>
</script>
<script type='text/template' id='adplay-placed-display-template'>
    <div id="remove-display" class="icon clickable my-icons-remove pull-right"></div>
    <div class="icon my-icons-adplay"></div>
    <p><%- Name %></p>
        <ul class="assignedPlaylists">
        <% _.each(assignedPlaylists, function(playlist) { %>
            <li id=<%- playlist.Id %> class="assigned-playlist">
            <div class="pull-left"><%- playlist.DisplayName %></div>
            <div class="remove icon clickable my-icons-remove pull-left"></div>
            <div class="clearing"></div>
            </li><% }); %>
        </ul>
</script>
<script type='text/template' id='stream-placed-display-template'>
    <div id="remove-display" class="icon clickable my-icons-remove pull-right"></div>
    <div class="icon my-icons-stream"></div>
    <p><%- Name %></p>
        <ul class="assignedPlaylists">
        <% _.each(assignedPlaylists, function(playlist) { %>
            <li id=<%- playlist.Id %> class="assigned-playlist">
            <div class="pull-left"><%- playlist.DisplayName %></div>
            <div class="remove icon clickable my-icons-remove pull-left"></div>
            <div class="clearing"></div>
            </li><% }); %>
        </ul>

</script>

<div class="row">
    <div id="sidebar" class="span3" style="width: 255px">
        <ul id="tabs" class="nav nav-tabs">
            <li class="active"><a href="#displays-tab">Displays</a></li>
            <li><a href="#playlistContainer">Playlists</a></li>
        </ul>
        <div class="tab-content" style="overflow: visible">
            <div id="displays-tab" class="tab-pane active">
                <table class="table">
                    <thead>
                        <tr>
                            <th class="type-column">Type</th>
                            <th class="name-column">Name</th>
                        </tr>
                    </thead>
                    <tbody id="displayContainer">
                    </tbody>
                </table>
            </div>
            <div class="tab-pane" id="playlistContainer"></div>
        </div>
    </div>
    <div id="blueprint" class="span9">
        
    </div>
</div>


<script type='text/template' id='browse-playlist-template'>
    <div class="icon my-icons-browse"></div>
    <p><%- DisplayName %></p>

</script>
<script type='text/template' id='adplay-playlist-template'>
    <div class="icon my-icons-adplay"></div>
    <p><%- DisplayName %></p>

</script>
<script type='text/template' id='stream-playlist-template'>
    <div class="icon my-icons-stream"></div>
    <p><%- DisplayName %></p>

</script>