@{
    ViewBag.Title = "Index";
}

@section Scripts
{
    <script type='text/javascript'>
        Bootstrap.load([
                "@@/Content/js/views/planogram/index.js"
            ]);
    </script>
}

<h2>PLANOGRAM!</h2>
