@import "../../vars";

#blueprint {
    width: 540px;
    height: 536px;
    background: url("../../../../Content/img/planogram.jpg");

    .draggable {
        font-family: "Comic Sans MS";
        color: #00FF00;
        width: 150px;
        height: 25px;
        padding: 0.5em; 
        border: 2px solid $gray6;
        border-radius: 5px;
        background: #EEE;
    }
}

.table {
    .type-column { width: 25%; }
    .name-column {  width: 75%; }
}

.active-display {
    border: 2px solid $gray9 !important;
}

.sidebarDisplay{
    &.placed{
        color: red;
    }
}

.placedDisplay{
    font-family: "verdana";
    font-size: 12px;
    color: #000;
    min-height: 100px;
    width: 250px;
    position: absolute !important;
    border: 2px solid #FF0000;    
    &:after {
        content:"";
        position:absolute;
        bottom:-15px; /* value = - border-top-width - border-bottom-width */
        left:50px; /* controls horizontal position */
        border-width:15px 15px 0; /* vary these values to change the angle of the vertex */
        border-style:solid;
        border-color:$gray6 transparent;
        /* reduce the damage in FF3.0 */
        display:block; 
        width:0;
    }
}

.playlist{
    font-family: "verdana";
    font-size: 12px;
    color: #000;
    min-height: 100px;
    width: 250px;
    border: 2px solid $gray6;
}

li {
    list-style: none;
}

.clickable {
    cursor: pointer;
}

.clearing {
    clear: both;
}

