#blueprint {
    width: 540px;
    height: 536px;
    background: url("../../../../Content/img/planogram.jpg");

    .draggable {
        font-family: "Comic Sans MS";
        color: #00FF00;
        width: 150px;
        height: 25px;
        padding: 0.5em; 
        border: 2px solid #F5A9A9;
        border-radius: 5px;
        background: #EEE;
    }
}

li {
    list-style: none;
}