<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Planogram App</title>
        <script type="text/javascript" src="//commondev.iqmetrix.net/js/iq.bootstrap.min.js"></script>
        <script type="text/javascript" src="/Content/js/strapon.js"></script>
    </head>
    <body>
@*<p class="site-title">@Html.ActionLink("MVC Movie", "Index", "Planogram")</p>*@
        <div id="body">
            @RenderBody()
            @RenderSection("Scripts", false)
        </div>
    </body>
</html>
