//*****************
// XQ variables
//*****************
$gray1:		#FBFBFB; 
$gray2:		#EBEBEB;
$gray3:		#DEDEDE;
$gray4: 	#D4D4D4;
$gray5: 	#C0C0C0;
$gray6: 	#ABABAB;
$gray7: 	#848282;
$gray8: 	#646464;
$gray9: 	#595959;
$gray10: 	#3C3C3C;
$gray11: 	#313131;
$gray12: 	#1D1D1D;
$gray13: 	#070707;